html,body {
	height: 100%;
    width: 100%;
}

.header {
    background: linear-gradient(180deg, #ff3c00 0%, #ff0000 50%, #ff2bd1 100%);
}

.logo {
    border: 3px solid #00ccff00;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.icons {
	color: #fff;
	transition: all 0.2s;
	font-size: 45px;
}

.icons:hover {
	color: #ccc;
}

.spacing {
	margin-top: 100px;
	margin-bottom: 100px;
}

footer {
    background: #f82bff !important;;
    padding: 3em !important;
}