html,body {
	height: 100%;
    width: 100%;
}

.header {
    background: linear-gradient(180deg, #a200ff 0%, #ff00ff 100%);
}

.logo {
    border: 3px solid #0084ff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.icons {
	color: #fff;
	transition: all 0.2s;
	font-size: 45px;
}

.icons:hover {
	color: #ccc;
}

.spacing {
	margin-top: 100px;
	margin-bottom: 100px;
}

footer {
    background: #ff2b8e !important;;
    padding: 3em !important;
}